
/* flex structure */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    width: 100vw;
    border: 10px solid transparent;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* header */

header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* content */

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height:48%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../image/border.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(80, 80, 80);
    z-index: 2; /* bring it to the front */
    padding: 30px
}

#try-again-container {
    display: none;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 50px;
}

#input-player-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    color: white;
}

.playerGender {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.flexbox-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.interface {
    flex: 10 0 500px; /* fixed-width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../image/border.png"), url("../image/darkgrey-back.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: grey;
    padding: 30px;
}

.character {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attack-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.attack-buttons {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.result-box {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
}

.scoreboard {
    display: flex;
    justify-content: stretch;
}

.scoreboard p {
    white-space: pre-line; /* breaks line correctly with \n*/
}

#player, #computer {
    flex: 1 1 auto;
    padding: 30px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* -------------------- elements ----------------------- */

/* title */

h1 {
    font-size: 100px;
    color: white;
    margin: 0;
}

/* button */

button {
    height: 150px;
    width: 150px;
    border: 5px solid transparent;
    border-radius: 20px;
    background-color: transparent;
}

button:hover {
    background-color: grey;
}

#fire {
    background-image: url("../image/fire.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#grass {
    background-image: url("../image/grass.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#water {
    background-image: url("../image/water.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#try-again-container button {
    border-radius: 10px;
    border: 5px solid black;
    background-color: white;
    height: 100%;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}

#try-again-container button:hover {
    filter: invert(1);
}


/* images */

.character img {
    height: 450px;
}

/* paragraphs */ 

.attack-box p , .result-box p{
    font-size: 45px;
    text-align: center;
    color: white;
    margin: 0;
}

.attack-box p {
    white-space: nowrap; /* stop breaking lines */
}

.result-box p {
    font-size: 30px;
    padding: 30px;
}

.result-box .resultFinal {
    font-size: 80px;
}

/* collapse margin is a feature of a block and don't work in flex */


.result-box .result, .result-box .resultFinal {
    margin: 40px;
    padding: 0;
}

.result-box .result {
    margin-bottom: 0;
}

/* collapse margin is a feature of a block and don't work in flex */

.copyright {
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 0;
}

hr {
    margin: 0;
    padding: 0;
    width: 100%;
}
